.quiz-container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  text-align: center;
}
body{
  background-color: #FDF9E2;
}
.timer {
  background-color: yellow;
  color: black;
  font-size: 2rem;
  font-family: sans-serif;
  padding: 1rem;
  border-radius: 0.5rem;
  animation: change-color 1s linear infinite;
}

@keyframes change-color {
  0% {
    background-color: rgb(223, 223, 118);
  }
  50% {
    background-color: rgb(249, 163, 1);
  }
  100% {
    background-color: rgb(178, 98, 98);
  } 
}


.question {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family:'Quicksand';
}

.options {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  font-family:'Quicksand';
}

.options li {
  margin-bottom: 10px;
}

.options label {
  margin-left: 10px;
}

.next-button {
  background-color: #4CAF50;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #7ac284;
}


.next-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.question-count {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: 500;
  background-color: #f7f0b7;
  border-radius: 10px;
  border: 2px solid #f5c842; /* added border property */
}
.chart-container{
  height:500px;
  width:400px;
}
.percentage-container{
  height:300px;
  width:300px;
}
.results-container{
  display: flex;
}
