.signincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #shadow{
    width: 50%;
  }
  
  #signinleft{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  #signinleft img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
    width: 100%;
  }
  .signinbtn{
    margin-left: 30%;
    background-color: rgb(163, 163, 6);
  }